
<ion-view view-title="{{noticia.titulo}}">
    
  <ion-content class="padding">
     
<div class="list card cardliner insider {{noticia.nome_impacto}}">

  <div class="item item-icon-right item-text-wrap">
    <i class="icon icon-top {{noticia.icone}}"></i>
    <h1 class="insideTitle">{{noticia.titulo | titleCase}}</h1>
    <p>{{noticia.nome_veiculo}}  • {{noticia.data_in | date:'dd-MM-yyyy'}} • {{formataImpacto(noticia.nome_impacto)}}</p>
  </div>

  <div class="item item-body">
 <img ng-click="showImage()" class="full-image" ng-model="noticia" ng-src="{{imgUrl}}" style="width: 100%;" ng-if="noticia.tipo_midia != 'RÁDIO' && noticia.tipo_midia!='TV' && noticia.tipo_midia != 'INTERNET'"/>
 <button class="button button-positive icon-left ion-social-youtube" ng-if="noticia.tipo_midia == 'TV'" ng-click="playVideo()">
  Reproduzir vídeo
</button>

      <audio class="centerme" ng-src="{{clipSrc}}" autoplay controls ng-if="noticia.tipo_midia == 'RÁDIO'"  ></audio>

    <p ng-if="noticia.tipo_midia == 'INTERNET'">
      {{noticia.texto}}
    </p>
  </div>



</div>
     
  </ion-content>
  
</ion-view>
