 <ion-modal-view>
 <ion-header-bar  class="bar-positive">
        <h1 class="title">Escolher Perfil</h1>
    </ion-header-bar>
    <ion-content  ng-controller="ProfileCtrl">
          
        <div class="list">

           <ion-radio ng-repeat="item in ProfilesList"
                   ng-value="item.value"
                   ng-model="Filter.idInstituicao"
                   ng-click="hideProfileModal()">
          {{ item.text }}
        </ion-radio>
        </div>

    </ion-content>
 </ion-modal-view>
