<div class="modal transparent fullscreen-player" ng-click="closeModal()">
    <video ng-src="{{clipSrc}}" class="centerme" preload="auto" loaded-data autoplay poster="../img/ajax-loader-dark.gif"></video>
</div>
