<ion-modal-view class="transparent" ng-click="modal.hide()">
    <ion-header-bar class="bar bar-header bar-stable">
        <h1 class="title"></h1>
        <button class="button button-clear button-primary" ><i class="ion-close-circled"></i> Fechar</button>
    </ion-header-bar>


    <ion-content overflow-scroll="true">
        <ion-scroll zooming="true" direction="xy" delegate-handle="zoom-pane" class="zoom-pane" min-zoom="1" scrollbar-x="false" scrollbar-y="false" style="width: 100%; height: 100%">
            <img ng-src="{{imgUrl}}" style="min-width:100%">
        </ion-scroll>

    </ion-content>


</ion-modal-view>
