<ion-view hide-nav-bar="true">
    <ion-content style="background-color:#0866C6">
        <div class="row">
            <div class="col col-10"></div>
            <div class="col" ><img class="centerme" src="img/logo_superclipping_wide.png"></div>
            <div class="col  col-10"></div>
        </div>

        <div class="row">
            <div class="col col-10"></div>  <div class="col"><div class="list">
                    <label class="item item-input">
                        <span class="input-label">Login</span>
                        <input type="text" ng-model="user.userName">
                    </label>
                    <br/>
                    <label class="item item-input">
                        <span class="input-label">Senha</span>
                        <input type="password" ng-model="user.password">
                    </label>
                </div>

                <button class="button button-block button-outline  button-light" ng-click="signIn(user)">
                    Entrar
                </button>

            </div>  <div class="col col-10"></div>
        </div>
    </ion-content>
</ion-view>
