<ion-view view-title="Superclipping">
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-divider">Avaliação de impacto</div>
      <div class="item item-body">
       <canvas id="doughnut" class="chart chart-doughnut" data="pieData"
  labels="pieLabels" legend="true" colours="pieColours"></canvas>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Evolução</div>
      <div class="item item-body">
     <canvas id="line" class="chart chart-line" data="linesData" labels="linesLabels" legend="true" series="linesSeries"  colours="pieColours"></canvas> 
      </div>
    </div>
   
  </ion-content>
</ion-view>