<ion-view view-title="Superclipping" ng-controller="LogoutCtrl">
    <ion-content>
          <ul class="list">
          <div class="item"><ion-checkbox ng-model="logoutModel.saveData">Manter dados do usuário (padrão)</ion-checkbox></div>
  
     
</ul>
        <div class="padding">
        <button class="button button-block button-positive" ng-click="logout()">Fechar aplicativo</button>
      </div>
    </ion-content>
</ion-view>
