<ion-view view-title="Superclipping" ng-controller="FiltrosCtrl">
    <ion-content>
        <ion-list>
            <ion-toggle ng-model="Filter.tags" >
                Somente de {{orgao}}
            </ion-toggle>

            <label class="item item-icon-right">

                <select style="opacity:0; width:100%; position:absolute; z-index:100" ng-model="Filter.tipoMidia"  ng-options="tipo.id as tipo.text for tipo in tiposMidia">
                </select>
                <span class="input-label">Tipo de notícia:</span>
                <span class="item-note note-align">{{tiposMidia[Filter.tipoMidia].text}}</span>

                <i class="icon ion-ios7-arrow-down"></i>
            </label>

            <label class="item item-icon-right">

                <select style="opacity:0; width:100%; position:absolute; z-index:100" ng-model="Filter.idImpacto" ng-options="impacto.id as impacto.text for impacto in impactos">
                </select>
                <span class="input-label">Avaliação:</span>
                <span class="item-note note-align">{{impactos[Filter.idImpacto].text}}</span>
                <i class="icon ion-ios7-arrow-down"></i>
            </label>
            
            <label class="item item-icon-right">
                <select style="opacity:0; width:100%; position:absolute; z-index:100" ng-model="Filter.idGrupoVeiculo" ng-options="grupo.id as grupo.text for grupo in grupos">
                 </select>
                <span class="input-label">Grupo de Comunicação:</span>
                <span class="item-note note-align">{{grupos[Filter.idGrupoVeiculo].text}}</span>
                <i class="icon ion-ios7-arrow-down"></i>
            </label>
            

        </ion-list>
        <div class="padding">
        <button class="button button-block button-positive" ng-click="filterChange()">Filtrar</button>
      </div>
    </ion-content>
</ion-view>
