<ion-view title="Superclipping">
    <ion-nav-title>
        <form class="item-input-inset item-animate formHeader" ng-submit="search()">
            <label class="item-input-wrapper" ng-show="showSearch" show-focus="showSearch">
                <i class="icon ion-ios7-search placeholder-icon"></i>
                <input type="search" id="searchInput" placeholder="Pesquisar" ng-model="Filter.searchText" autofocus>
                <button class="ng-hide" type="submit">Search</button>
            </label>
            <span ng-hide="showSearch" class="centerText">Superclipping</span>

        </form>
    </ion-nav-title>
    <ion-nav-buttons side="left">
        <button class="button  button-clear button-light icon ion-arrow-left-c" ng-click="onReset()" ng-show="showSearch">
        </button>
    </ion-nav-buttons>

    <ion-nav-buttons side="right">
        <button ng-hide="showSearch" class="button button button-clear button-lighticon ion-search" ng-click="toggleSearch()"></button>

    </ion-nav-buttons>

    <ion-content>
        <ion-list>
              <ion-refresher pulling-text="Atualizando..."  on-refresh="doRefresh()"></ion-refresher>
              <ion-item class="item card item-text-wrap cardliner {{noticia.nome_impacto}}" ng-repeat="noticia in noticias" href="#/tab/noticias/{{noticia.id_avaliacao}}">
                  <span class="impacto">{{formataImpacto(noticia.nome_impacto)}}</span> 
               <p> <i style="font-size:32px;" class="icon {{icones[noticia.tipo_midia]}} "></i> 
                   <strong>{{noticia.nome_veiculo}}</strong><br/>
                   <small>{{noticia.data_in | date:'dd-MM-yyyy'}}</small>
                
                </p>

                <h1>{{noticia.titulo | titleCase }}</h1>

                
                
                  

            </ion-item>


        </ion-list>
        <ion-infinite-scroll on-infinite="loadMore()" distance="1%">
        </ion-infinite-scroll>
    </ion-content>

</ion-view>

