<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- News Tab -->
  <ion-tab title="Notícias" icon-off="ion-ios7-paper-outline" icon-on="ion-ios7-paper" href="#/tab/noticias">
    <ion-nav-view name="tab-noticias"></ion-nav-view>
  </ion-tab>

     <!-- Stats Tab -->
    <ion-tab title="Estatísticas" icon-off="ion-ios7-pulse" icon-on="ion-ios7-pulse-strong" href="#/tab/estatisticas">
    <ion-nav-view name="tab-estatisticas"></ion-nav-view>
  </ion-tab>

  <!-- Filter Tab -->
  <ion-tab title="Filtros" icon-off="ion-ios7-gear-outline" icon-on="ion-ios7-gear" href="#/tab/filtros">
        <ion-nav-view name="tab-filtros"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Logout" icon="ion-log-out" href="#/tab/logout">
       <ion-nav-view name="tab-logout"></ion-nav-view>
  </ion-tab>


</ion-tabs>
