<ion-list>
    <ion-item class="item-text-wrap" ng-click="showItems($event)">
        {{text}}
        <span class="item-note">
                  {{noteText}}
                  <img class="{{noteImgClass}}" ng-if="noteImg != ''" src="{{noteImg}}" />
                </span>
    </ion-item>
</ion-list>
