/* Empty. Add your own CSS if you like */
.item p {
  color: #848484;
  font-size: 14px;
  margin-bottom: 2px;
  }
h1 {
    font-family: 'Avenir Next LT Pro Regular';
    font-weight: normal;
    font-size: 20px;
}
.impacto{
  position: absolute;
  margin-top: -3px;
  display: block;
  right: 14px;
  font-size: 10px;
  font-weight: bold;
}
.cardliner {
    padding-top: 10px;
    border-top: 4px solid;
    padding-bottom:20px;
}
.cardliner.POSITIVO {
    border-top-color: green;
}
.cardliner.POSITIVO h1 , .cardliner.POSITIVO .impacto{
    color: green;
}

/*.cardliner.POSITIVO .icon{
    color: green;
}*/

.cardliner.NEGATIVO {
    border-top-color: rgb(200, 0, 0);
}
.cardliner.NEGATIVO h1, .cardliner.NEGATIVO .impacto {
    color: rgb(200, 0, 0);
}
/*.cardliner.NEGATIVO .icon {
    color: rgb(200, 0, 0);
}*/
.cardliner.NEUTRO {
    border-top-color: rgb(6, 152, 255);
}
.cardliner.NEUTRO h1 , .cardliner.NEUTRO .impacto{
    color: rgb(6, 152, 255)
}
/*.cardliner.NEUTRO .icon {
    color: rgb(6, 152, 255)
}*/
.transparent {
    background: transparent !important;
}
.image-modal {
    width: 100% !important;
    height: 100%;
    top: 0 !important;
    left: 0 !important;
}
.fullscreen-image {
    width: 100%;
    bottom: 0;
    left: 0;
    margin: 0 auto;
    overflow: auto;
    position: fixed;
    right: 0;
    top: 0;
}
.centerme {
    margin: 0 auto;
    width: 100%;
    height: 100%;
}
.fullscreen-player {
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    margin: auto;
    overflow: none;
    position: fixed;
    right: 0;
    top: 0;
}
.item-animate.ng-hide {
    height: 0;
    opacity: 0;
    padding: 0;
}
.item-animate.ng-hide-remove,
.item-animate.ng-hide-add {
    display: block !important;
    transition: all linear 300ms;
}
.centerText {
    text-align: center;
    width: 100%;
}
.formHeader {
    padding: 6px 0 0 0;
}

.formHeader span{
    margin-top: -5px;

}

fancy-select .list {
  margin: -1px 0; }

/* Items */
/* line 13, ../scss/modules/_fancy-select.scss */
.fancy-select-items {
  position: fixed;
  left: 0;
  width: 100%;
  height: 100%; }
  /* line 19, ../scss/modules/_fancy-select.scss */
  .fancy-select-items .item {
    overflow: hidden;
    /* Clearfix */ }

/* line 24, ../scss/modules/_fancy-select.scss */
.fancy-select-items label p {
  height: 32px;
  line-height: 32px; }

/* line 29, ../scss/modules/_fancy-select.scss */
.fancy-select-icon {
  float: left;
  margin-right: 10px;   
  width: 30px;
  text-align: center; }

.item-icon-right {
  padding-right: 87px;
}
.item-icon-right .icon.icon-top{

  height: 48%;
  font-size: 23px;
}

.insider .item-icon-right .icon.icon-top{

  height: 35%;
  font-size: 28px;
}

.insider h1{
margin-top: -15px;
}

.bar.bar-positive{

  border-color: #0f66c4;
  background-color: #0f66c4;
  background-image: linear-gradient(0deg,#0f66c4,#0f66c4 50%,transparent 50%);
  color: #fff;
}

 ion-tabs.tabs-color-active-positive .tab-item.tab-item-active {
  color: #0f66c4;
}

.item-note.note-align{
    margin-top : -26px;
    
}